.green-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 9px 15px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #ffffff;
  background-color: #28c76a;
  border-radius: 5px;
  text-decoration: none;
}

.green-button img {
  margin-right: 8px;
}

section {
  padding: 165px 80px 100px 80px;
}

h2 {
  font-family: Gilroy, sans-serif;
  font-size: 96px;
  font-weight: 700;
  line-height: 100px;
  color: #ffffff;
}

h5 {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;
}

body {
  background-color: #242028;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
}

.page-content {
  width: 100%;
  padding-left: 106px;
  background: linear-gradient(transparent, #242028 70%),
    linear-gradient(to right, #242028, transparent), url("./img/main_smoke.png"),
    url("./img/home_background.svg");
  background-position: 0 790px, 0 100px, 0 0, 100% 0;
  background-size: 100% 265px, 180px 1000px, 100%, 74%;
  background-repeat: no-repeat;
}

.aside {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: flex-end;
  width: 107px;
  height: 100vh;
  padding-top: 33px;
  border-right: 1px solid #000000;
}

.logo {
  position: relative;
  width: 50px;
  margin-left: 28px;
}

.logo:after {
  position: absolute;
  content: "";
  display: block;
  top: -35px;
  left: 78px;
  width: 1px;
  height: 103px;
  background-color: #000000;
}

.logo p {
  margin-top: -5px;
  font-family: Gilroy, sans-serif;
  font-size: 9.61px;
  font-weight: 700;
  line-height: 10px;
  color: #6c81de;
  text-transform: uppercase;
}

.social-links a {
  display: block;
  width: 26px;
  height: 26px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.social-links li:nth-child(1) a {
  background-image: url("./img/twitter_logo.svg");
}
.social-links li:nth-child(2) a {
  background-image: url("./img/telegram_logo.svg");
}
.social-links li:nth-child(3) a {
  background-image: url("./img/note_logo.svg");
}
.social-links li:nth-child(4) a {
  background-image: url("./img/oval_logo.svg");
}

header {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-top: 33px;
  padding-bottom: 22px;
  border-bottom: 1px solid #000000;
  z-index: 5;
  backdrop-filter: blur(10px);
  background-color: rgba(36, 32, 40, 0.5);
}

.header-content{
  max-width: 1440px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-menu li {
  padding-right: 25px;
}

.header-menu a {
  position: relative;
  font-family: Gilroy, sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 11px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.header-menu li.active a {
  pointer-events: none;
}

.header-menu li a:after {
  position: absolute;
  top: 42px;
  left: 0;
  content: "";
  width: 0px;
  height: 8px;
  background-color: #28c76a;
}

.header-menu li.active a:after {
  width: 100%;
}

.home .pre-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 101px;
  font-family: Gilroy, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 42px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.home .pre-title .selection {
  margin-left: 3px;
  margin-right: 3px;
  color: #0cac85;
  font-weight: 700;
}

.home .emoji {
  margin-right: 10px;
}

.home .section-title {
  margin-bottom: 8px;
}

.home .section-title .selection {
  color: #ffda06;
}

.home .description {
  max-width: 553px;
  margin-bottom: 20px;
  font-family: Gilroy, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.home .download-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.download-links img {
  margin-right: 10px;
}

.download-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 127px;
  height: 41px;
  margin-right: 15px;
  font-family: Gilroy, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
}

.home .tokens {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 553px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#3a3540),
    to(#2f2a34)
  );
  background: -o-linear-gradient(top, #3a3540 0%, #2f2a34 100%);
  background: linear-gradient(180deg, #3a3540 0%, #2f2a34 100%);
  border-radius: 10px;
}

.home .tokens:after {
  position: absolute;
  left: 50%;
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #242028;
}

.home .token {
  padding: 25px;
}

.home .token-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #ffffff;
}

.home .token-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.home .token-link p {
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  color: #a39cab;
}

.home .token-link button {
  width: 24px;
  height: 24px;
  margin-left: 8px;
  border: none;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
  background-image: url("./img/copy.svg");
  background-repeat: no-repeat;
  background-position: 3px 3px;
  cursor: pointer;
}

.home .green-button {
  width: 126px;
  height: 41px;
}

.metaverse {
  position: relative;
  padding-right: 0;
}

.metaverse:after {
  position: absolute;
  content: "";
  top: 720px;
  left: 50%;
  display: block;
  width: 150px;
  height: 1px;
  -webkit-box-shadow: 0 0 500px 400px rgba(216, 133, 143, 0.2);
  box-shadow: 0 0 500px 400px rgba(216, 133, 143, 0.2);
  z-index: 1;
  border-radius: 50%;
  background-color: rgba(216, 133, 143, 0.2);
}

.metaverse .section-title {
  position: relative;
  margin-bottom: 60px;
}

.metaverse .section-title img {
  position: absolute;
  top: 135px;
  left: 395px;
}

.metaverse .section-title .selection {
  color: #ff6376;
}

.metaverse .metaverse-slider {
  position: relative;
  z-index: 2;
}

.metaverse .metaverse-slider .slick-prev {
  opacity: 0 !important;
  transition: all 0.5s ease-out;
  pointer-events: none;
}

.metaverse .metaverse-slider .slick-prev.show {
  opacity: 1 !important;
  pointer-events: auto;
}

.metaverse .metaverse-slider .slick-next,
.metaverse .metaverse-slider .slick-prev {
  position: absolute;
  top: 35%;
  left: 83%;
  width: 83px;
  height: 83px;
  padding: 0;
  font-size: 0;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  background-image: url("./img/Vector.svg");
  background-repeat: no-repeat;
  background-position: 33px 32px;
}

.metaverse .metaverse-slider .slick-prev {
  left: -7%;
  transform: rotate(180deg);
  z-index: 10;
}

.metaverse .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.metaverse .slick-list {
  margin-left: -60px;
}

.metaverse .slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
}

.metaverse .slide .img-wrapper {
  position: relative;
  padding-top: 30px;
}

.metaverse .slide .img-wrapper .slide-pic {
  -webkit-transform: rotate(6.2deg);
  -ms-transform: rotate(6.2deg);
  transform: rotate(6.2deg);
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.metaverse .slide.rotate .img-wrapper .slide-pic {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.metaverse .metaverse-slider .slide-icon {
  position: absolute;
}

.metaverse .metaverse-slider .slide-icon.icon--bottom {
  top: calc(100% - 190px);
  left: -85px;
}

.metaverse .metaverse-slider .slide-icon.icon--top {
  top: -34px;
  left: -77px;
}

.game .section-title {
  margin-bottom: 50px;
}

.game .section-title .selection {
  color: #ffda06;
}

.game .title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 105px;
}

.game .title-wrapper p {
  margin-bottom: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
}

.game .statistics {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 498px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#3a3540),
    to(#2f2a34)
  );
  background: -o-linear-gradient(top, #3a3540 0%, #2f2a34 100%);
  background: linear-gradient(180deg, #3a3540 0%, #2f2a34 100%);
  border-radius: 10px;
}

.game .statistics::after {
  position: absolute;
  left: 50%;
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #242028;
}

.game .statistics::before {
  position: absolute;
  top: 50%;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #242028;
}

.game .statistics-item {
  width: 50%;
  padding: 44px 30px;
}

.game .statistics-item .item-title {
  margin-bottom: 5px;
  font-family: Gilroy, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: #ffda06;
  white-space: nowrap;
}

.game .statistics-item .item-description {
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  color: #a39cab;
}

.game .features-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 54px;
}

.game .features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 25%;
  padding-right: 105px;
}

.game .features-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: #ffda06;
  border-radius: 5px;
}

.game .features-item:nth-child(1) .features-icon,
.game .features-item:nth-child(4) .features-icon {
  background-image: url("./img/shape.svg");
  background-repeat: no-repeat;
  background-position: 3px 9px;
}

.game .features-item:nth-child(2) .features-icon {
  background-image: url("./img/options.svg");
  background-repeat: no-repeat;
  background-position: 3px 9px;
}

.game .features-item:nth-child(3) .features-icon {
  background-image: url("./img/color-palette.svg");
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

.game .features-title {
  margin-top: 15px;
  margin-bottom: 10px;
}

.game .features-description {
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  color: #a39cab;
}

.game .slider-row {
  margin-bottom: 80px;
}

.game .tank-slider {
  z-index: 2;
}

.game .slider-row .slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 190px;
  height: 270px;
  margin-right: 5px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#3a3540),
    to(#2f2a34)
  );
  background: -o-linear-gradient(top, #3a3540 0%, #2f2a34 100%);
  background: linear-gradient(180deg, #3a3540 0%, #2f2a34 100%);
  border-radius: 24.537px;
}

.game .map-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.game .map-row .map {
  position: relative;
  width: 570px;
  height: 350px;
}

.game .map-row .map:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 100px 100px rgb(176 108 210 / 20%);
  box-shadow: 0 0 100px 100px rgb(176 108 210 / 20%);
  z-index: 1;
  border-radius: 50%;
  background-color: rgba(176, 108, 210, 0.2);
}

.game .map-row.map--left .map:after {
  left: -35px;
}

.game .map-row.map--right .map:after {
  left: 35px;
}

.game .map-row .map img {
  position: absolute;
  z-index: 2;
}

.game .map--left .map img {
  left: -40px;
}

.game .map--right .map img {
  right: -40px;
}

.game .map--left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 80px;
}

.game .map--right {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.game .map-description {
  padding-top: 50px;
}

.game .map-description h5 {
  margin-bottom: 25px;
}

.game .map-description ul {
  padding-left: 0;
  list-style: none;
}

.game .map-description li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 18px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  white-space: nowrap;
}

.game .map-description li:before {
  position: absolute;
  content: "";
  display: block;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #ffda06;
  border-radius: 2px;
}

.video {
  position: relative;
  padding-top: 115px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.video .video-wrapper {
  position: absolute;
  top: 115px;
  z-index: 2;
}

.video .video-wrapper:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  top: 20%;
  left: 0;
  z-index: 2;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#242028),
    to(transparent)
  );
  background: -o-linear-gradient(bottom, #242028, transparent);
  background: linear-gradient(0deg, #242028, transparent);
}

.video .video-wrapper video {
  width: 100%;
}

.video p {
  position: relative;
  max-width: 795px;
  font-family: Gilroy, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: #ccc3d6;
  z-index: 3;
}

.video p .selection-text {
  color: #ffda06;
}

.key {
  margin-top: 140px;
  padding-top: 25px;
  background: linear-gradient(#242028, transparent),
    linear-gradient(to right, transparent, #242028),
    linear-gradient(transparent, #242028),
    linear-gradient(to right, #242028, transparent),
    url("./img/key_features_background.png");
  background-position: 0 0, 100% 0, 0 92%, 0 0, 0 0;
  background-size: 100% 100px, 100px 1200px, 100% 100px, 100px 1200px, 100%;
  background-repeat: no-repeat;
}

.key .section-title {
  margin-bottom: 100px;
}

.key .section-title .selection {
  color: #ffda07;
}

.key .key-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.key .key-item {
  max-width: 330px;
  width: 100%;
  padding: 34px 46px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#3a3540),
    to(#2f2a34)
  );
  background: -o-linear-gradient(top, #3a3540 0%, #2f2a34 100%);
  background: linear-gradient(180deg, #3a3540 0%, #2f2a34 100%);
  border: 2px solid #ffda06;
  border-radius: 26.5px;
}

.key .key-item:nth-child(1),
.key .key-item:nth-child(2),
.key .key-item:nth-child(3) {
  margin-bottom: 83px;
}

.key .key-item h5 {
  margin-top: 0;
  margin-bottom: 0;
  color: #ffda06;
}

.key .key-item p {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #ffffff;
}

.team {
  padding-top: 130px;
}

.team .section-title {
  margin-bottom: 45px;
}

.team .section-title .selection {
  color: #28c76a;
}

.team .team-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #3a3540;
  border-radius: 24.2px;
}

.team .vertical-border {
  position: absolute;
  top: 0%;
  left: 50%;
  height: 100%;
  width: 1px;
  display: block;
  background-color: #242028;
}

.team .horizontal-border {
  position: absolute;
  left: 43px;
  height: 1px;
  width: calc(100% - 86px);
  display: block;
  background-color: #242028;
}

.team .horizontal--first {
  top: 33%;
}

.team .horizontal--second {
  top: 66%;
}

.team .dev-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 40px 40px 63px 40px;
}

.team .image-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  position: relative;
  width: 211px;
  height: 211px;
  margin-right: 35px;
  border-radius: 50%;
  background-color: #28c76a;
}

.team .image-wrapper img {
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.team .text-wrapper {
  padding-top: 20px;
}

.team .text-wrapper h5 {
  margin-top: 0;
  margin-bottom: 15px;
}

.team .dev-position {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 33px;
  color: #28c76a;
}

.team .dev-info {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #a39cab;
}

.roadmap .section-title .selection {
  margin-left: -25px;
  color: #ff6375;
}

.roadmap .roadmap-content {
  position: relative;
  width: 100%;
  height: 870px;
  margin-top: -110px;
  background: url("./img/roadmap.png") no-repeat 0px 175px,
    url("./img/roadmap_girl.png") no-repeat 55% 0;
  z-index: 2;
}

.roadmap {
  position: relative;
}

.roadmap:before {
  position: absolute;
  content: "";
  top: 45%;
  left: 40%;
  display: block;
  width: 20%;
  height: 1px;
  -webkit-box-shadow: 0 0 400px 350px rgba(72, 41, 117, 0.35);
  box-shadow: 0 0 400px 350px rgba(72, 41, 117, 0.35);
  z-index: 1;
  border-radius: 50%;
}

.roadmap .tooltip {
  position: absolute;
  width: 214px;
  height: 185px;
  padding: 23px 30px;
  background: url("./img/tooltip.svg") no-repeat;
  z-index: 1;
  opacity: 0;
  -webkit-transition: 0.8s ease all;
  -o-transition: 0.8s ease all;
  transition: 0.8s ease all;
}

.roadmap.showAnimation .tooltip {
  opacity: 1;
}

.roadmap .tooltip h5 {
  margin-top: 0;
  margin-bottom: 5px;
}

.roadmap .tooltip p {
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  color: #ffffff;
}

.roadmap .tooltip:nth-child(1) {
  top: 155px;
  left: 715px;
}
.roadmap.showAnimation .tooltip:nth-child(1) {
  top: 235px;
}

.roadmap .tooltip:nth-child(2) {
  top: 155px;
  left: 315px;
}
.roadmap.showAnimation .tooltip:nth-child(2) {
  top: 235px;
}
.roadmap .tooltip:nth-child(3) {
  top: 350px;
  left: 870px;
}
.roadmap.showAnimation .tooltip:nth-child(3) {
  top: 430px;
}
.roadmap .tooltip:nth-child(4) {
  top: 415px;
  left: 520px;
}
.roadmap.showAnimation .tooltip:nth-child(4) {
  top: 495px;
}
.roadmap .tooltip:nth-child(5) {
  top: 450px;
  left: 145px;
}
.roadmap.showAnimation .tooltip:nth-child(5) {
  top: 530px;
}

.partners {
  margin-bottom: 90px;
}

.partners .section-title {
  margin-bottom: 45px;
}

.partners .section-title .selection {
  color: #fcdb3f;
}

.partners .partners-slider {
  position: relative;
  background-color: #3a3540;
  border-radius: 26px;
}

.partners .partners-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.partners .partners-slide .partner-wrapper:first-child {
  border-bottom: 1px solid #242028;
}

.partners .partner-wrapper {
  padding: 88px 118px;
  font-family: Gilroy, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  color: rgba(255, 255, 255, 0.7);
  border-right: 1px solid #242028;
}

.partners .partners-slider .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.partners .partners-slider .slick-dots span {
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 9px;
  background-color: #545454;
  border-radius: 15px;
  -webkit-transition: 0.3s ease width;
  -o-transition: 0.3s ease width;
  transition: 0.3s ease width;
}

.partners .partners-slider .slick-dots .slick-active span {
  width: 60px;
  background-color: #ffda06;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 80px;
}

footer,
footer .footer-links a {
  font-family: Circe, sans-serif;
  font-size: 11.5px;
  font-weight: 400;
  line-height: 17px;
  color: #a39cab;
  letter-spacing: 3.6px;
  text-decoration: none;
  text-transform: uppercase;
}

footer .footer-links a:first-child {
  margin-right: 80px;
}
